:root {
  --font: 'Press Start 2P';
}

html, #root {
  background-color: rgb(57, 57, 57);
}

.play-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enter-name,
.pause-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

/* variable font-sizes */
.name-field,
.initiating,
.current-score,
.destiny,
.game-over {
  font-size: 1.25rem;
}

.block-head {
  font-size: 1.5rem;
  height: 1.5rem;
}

.ingame-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-container {
  display: flex;
  height: 100%;
  /* border: 3px solid green; */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.player-container {
  display: flex;
  height: 100%;
  /* border: 3px solid yellow; */
  flex-direction: column;
  align-items: top;
  justify-content: flex-start;
  gap: 2rem;
}

.pause-btn,
.restart-btn {
  align-self: center;
}

.current-score {
  align-self: end;
}

.stack-label {
  align-self: center;
  padding-top: 2rem;
  font-size: 1.25rem;
  padding-bottom: 2rem;
}

.ingame-container > * {
  flex-grow: 1;
}

.mode-btn {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.mode-btn > * {
  min-width: 15rem;
}

.leaderboard {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.nes-container {
  height: 100%;
}

.box {
  position: relative;
  margin: auto;
  margin-top: 25vh;
  /* border: 4px solid red; */
  width: 80vw;
  min-width: 45rem;
  height: 50vh;
  min-height: 30rem;
}

.game-over {
  border: 4px solid red;
  justify-content: center;
}

.title-container {
  border: 0.25rem solid white;
  padding-top: 0.5rem;
  padding-bottom: 0.35rem;
  padding-left: 0.5rem;
  padding-right: 0.35rem;
  margin: 0.25rem;
}

.nes-btn {
  width: 15rem;
  font-size: 1rem;
}
